/*
 * Hotel Calendar JS v0.0.1a - 2017
 * GNU Public License
 * Aloxa Solucions S.L. <info@aloxa.eu>
 *     Alexandre Díaz <alex@aloxa.eu>
 */

/** ANIMATIONS **/
@keyframes cell-invalid {
	0% {
		background: #ff0000;
		background: repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 40%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -webkit-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 40%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -moz-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 40%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
    }
	50% {
		background: #ff0000;
		background: repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 40%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -webkit-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 35%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -moz-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 40%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
    }
    100% {
		background: #ff0000;
		background: repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 30%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -webkit-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 30%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
		background: -moz-repeating-linear-gradient(141deg,#ff0000 10%, #ff0000 30%, rgba(255,0,0,0.51) 30%, rgba(255,0,0,0.51) 50%);
    }
}


#hcalendar {
	display: flex;
  flex-flow: row wrap;
  max-height: 100vh;
}
.table-reservations-header {
	order: 1;
	flex-grow: 1;
	overflow-y: scroll;
}
.table-reservations {
	order: 2;
	flex-grow: 2;
  overflow-y: scroll;
  position: relative;
  height: 180px;
}
.table-calcs-header {
	order: 3;
	flex-grow: 1;
	overflow-y: scroll;
}
.table-calcs {
	order: 4;
	flex-grow: 2;
  overflow-y: scroll;
  height: 180px;
}


.btn-hcal { }
.btn-hcal.hcal-cell-current-day {
 	background-color: #B3EE3A;
 	color: #475f17;
}
.btn-hcal.hcal-cell-end-week {
	background-color: #0D5A8F;
}
.btn-hcal-3d {
 	color: white;
 	background-color: #307CB0;
 	border: 1px solid black;
 	border-color: white black black white !important;
}
.btn-hcal-flat {
	background-color: #bdc297;
 	border: 1px solid #bdc297;
}

.table-calcs-header .hcal-table, .table-reservations-header .hcal-table {
	height: 46px;
}

.hcal-table, .hcal-table-day {
	border-collapse: initial !important;
	width: 100%;
	table-layout: fixed;
}
.hcal-table > tbody {
	max-height: 50vh;
	overflow: scroll;
}
.hcal-table td {
	text-align: center !important;
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
}
.hcal-table a {
	text-decoration: none;
}
.hcal-table tr:hover td:not(.hcal-unused-zone):not(.hcal-cell-highlight):not(.hcal-cell-current-day):not(.hcal-cell-end-week):not(.btn-hcal):not(.hcal-cell-invalid) {
	background-color: #F6F6F6;
}

.hcal-table tr:hover td.hcal-cell-room-type-group-item {
  background-color: #9bcd9b;
	color: black;
}

.hcal-table-day {
	height: 100%;
	border-collapse: collapse !important;
	border: 0 dotted #cfcfcf;
  border-width: 2px 0;
}
/*.hcal-table-day tr:first-child td{
	border: 1px solid #727272 !important;
	border-width: 0 1px 0 0 !important;
}
.hcal-table tr:not(:last-child) .hcal-table-day tr:last-child td {
	border-style: solid;
	border-color: #727272 !important;
	border-bottom-width: 1px !important;
}
.hcal-table-day tr:not(:last-child):not(:first-child) td {
	border-width: 0;
}*/
.hcal-table-day td {
	padding: 2px;
	height: 2.3em;
	font-size: 7px;
	vertical-align: middle;
	font-weight: bold;
	border: 1px solid #cecece !important;
}
.hcal-table-day td:hover:not(.hcal-cell-highlight):not(.hcal-cell-invalid) {
	background-color: #FCFEE1 !important;
}

.hcal-cell-current-day {
	background-color: #E0F8B0;
}
.hcal-cell-end-week {
	background-color: #E2EAF9;
}

.hcal-cell-day-selector {
	text-align: center;
	vertical-align: center;
	max-width: 140px;
}
.hcal-cell-day-selector a {
	font-size: 22px;
	padding: 0 0.5em;
}
.hcal-cell-day-selector span {
	cursor: pointer;
}
.hcal-cell-day-selector input {
	border: 1px solid lightgray;
	width: 120px;
	font-size: large;
	text-align: center;
}

.hcal-cell-month {
	overflow: hidden;
	max-width: 0;
	text-align: center !important;
	vertical-align: middle;
	white-space: nowrap;
}
.hcal-cell-month:nth-child(n+3) {
	border-left-width: 2px !important;
}

.hcal-cell-start-month {
	border-left-width: 2px !important;
}

.hcal-room-type:hover {
	cursor:pointer;
}

.hcal-cell-highlight {
	background-color: #F8FD9C;
}

.hcal-cell-invalid {
	background-color: #e58e92;
}


.hcal-cell-room-type-group-item-day {
	padding: 0 !important;
	height: 100%;
}

.hcal-cell-room-type-group-item-day-occupied {
	/*background-color: #227eaf;*/
}
.hcal-cell-room-type-group-item-day-occupied[data-hcal-reservation-cell-type=soft-start] {
	background-color: #729fcf;
	/*border: 2px solid #3465a4;*/
}

.hcal-reservation {
	position: absolute;
	text-align: center;
	/*background-color: #729fcf;*/
	/*transform: skewX(-25deg);*/
	border-radius: 5px;
	border: 2px groove #3465a4;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	z-index:999;
}
.hcal-reservation:hover {
	background-color: #4e97bf;
}
.hcal-reservation span {
	position: relative;
}

.hcal-reservation-invalid {
	background-color: #c8543b !important;
	border-color: #6c3624 !important;
}
.hcal-reservation-invalid:hover {
	background-color: #f5b595 !important;
	border-color: #c8543b !important;
}

.hcal-reservation-foreground {
	pointer-events: none;
	opacity: 0.9;
	color: transparent !important;
	background: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 10px,
	  #465298 10px,
	  #465298 20px
	);
}

.hcal-reservation-action {
	border: 2px dashed #3465a4;
	opacity: 0.9;
	pointer-events: none;
	z-index:9999;
}

.hcal-reservation-readonly:not(.hcal-unused-zone) {
	border: 2px solid #99995b;
	color: white !important;
	font-weight: bold;
	background: #ffee00;
	background: repeating-radial-gradient(circle farthest-corner at right center, #ffee00 0%, #2c2c2c 5%, #ffff00 10%, #2c2c2c 20%, #2c2c2c 100%);
	background: -webkit-repeating-radial-gradient(circle farthest-corner at right center, #ffee00 0%, #2c2c2c 5%, #ffff00 10%, #2c2c2c 20%, #2c2c2c 100%);
	background: -moz-repeating-radial-gradient(circle farthest-corner at right center, #ffee00 0%, #2c2c2c 5%, #ffff00 10%, #2c2c2c 20%, #2c2c2c 100%);
}

.hcal-row-room-type-group-item {
	text-align: center;
}

.hcal-cell-month-day {
	text-align: center !important;
}

.hcal-cell-room-type-group-day {
	text-align: center !important;
}

.hcal-table-type-group-day {
	border-collapse: collapse;
	width:100%;
}
.hcal-table-type-group-day td {
	border-width: 0;
}
.hcal-table-type-group-day tr:not(:last-child) td {
	border-bottom-width: 1px;
}

.hcal-cell-room-type {
	cursor: pointer;
}
td.hcal-cell-room-type {
	border-right-width: 2px;
}

td.hcal-cell-room-type-group-day, td.hcal-cell-room-type {
	border-top-width: 2px;
}
td.hcal-cell-room-type-group-day {
	padding: 0;
}

td.hcal-cell-room-type-group-item {
	text-align: center !important;
	vertical-align: middle;
	font-size: x-small;
	white-space: nowrap;
}
td.hcal-cell-room-type-group-item:last-child {
	border-right-width: 2px;
}

.hcal-cell-type-group-day-free {
	text-align: center;
	font-weight: bold;
	padding: 0 !important;
}
.hcal-cell-type-group-day-price {
	text-align: center;
}

td.hcal-cell-header-day {
	padding: 0;
	vertical-align: middle;
}

td.hcal-cell-month-day-occupied {
	padding: 0;
	text-align: center;
}

.hcal-cell-detail-room-free-type-group-item-day,
.hcal-cell-detail-room-free-total-group-item-day,
.hcal-cell-detail-room-perc-occup-group-item-day,
.hcal-cell-detail-room-price-type-group-item-day,
.hcal-cell-detail-room-min-stay-group-item-day {
	border: 1px solid lightgray;
}
.hcal-cell-detail-room-min-stay-group-item-day {
	border-color: #307CB0 lightgray lightgray lightgray;
	border-width: 2px 1px 1px 1px;
}

.hcal-cell-detail-room-group-item {
	white-space: nowrap;
}

.hcal-unused-zone {
	border: 1px solid #444;
  border-radius: 0px;
}

.input-price {
	width: 100%;
	border-style: none !important;
	border-radius: 0 !important;
	text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
