/*
 * Hotel Calendar JS v0.0.1a - 2017
 * GNU Public License
 * Aloxa Solucions S.L. <info@aloxa.eu>
 *     Alexandre Díaz <alex@aloxa.eu>
 */
 
#pms-menu #btn_channel_manager_request.incoming i {
	animation-name: channel-manager-changes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#pms-menu #btn_channel_manager_request.incoming span {
	animation-name: channel-manager-changes-text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}